.blog {
    padding: 30px;
}

.author {
    float: right;
    margin-top: 10px;
    margin-right: 35px;
}

.edit-btn {
    background-color: white;
    color: black;
    padding: 10px;
    border: 3px solid black;
    transition-duration: .3s;

    margin-inline: 10px;
    margin-top: 60px;
    padding-inline: 30px;
}

.edit-btn:hover {
    background-color: black;
    color: white;
    transform: translateX(3px) translateY(-5px);
    cursor: pointer;
}

.delete-message {
    margin-top: 30px;
}

.delete-btn {
    background-color: white;
    color: black;
    padding: 10px;
    border: 3px solid black;
    transition-duration: .3s;

    margin-inline: 10px;
    margin-top: 25px;
    padding-inline: 30px;
}

.delete-btn:hover {
    background-color: black;
    color: white;
    transform: translateX(3px) translateY(-5px);
    cursor: pointer;
}

